//Color
$color-blue: #20948b;
$color-yellow:#b78146;
$color-grey: #8f9da0;
$color-brown:#4f6457;
$color-brown-1: #a43820;
$color-green:#336b87;
$color-green-1:#6ab187;
$color-green-2: #5bc8ac;
$color-white: white;
//Border radius
$radius-0: 0;